* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav__items {
  display: flex;
  list-style-type: none;
  padding-right: 25px;
  align-items: center;
  margin-top: 10px;
}
.nav__items--link {
  text-decoration: none;
  padding-left: 50px;
}

li.current_page_item a {
  text-decoration: underline;
  background: #666;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.title {
  flex: 2;
}

.searchGame {
  margin-left: 15px;
  flex: 1;
  height: 10px;
  padding: 13px;
  margin-top: 10px;
  border-radius: 5px;
}

.searchResults {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  right: 0;
  height: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  margin-bottom: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.searchResults::-webkit-scrollbar {
  display: none;
}
.searchResults__head > tr > td {
  padding-right: 50px;
  border: none;
  overflow: hidden;
}

.searchResultsDropDown {
  animation: dropdown 3s ease;
  animation-fill-mode: forwards;
  animation-play-state: running;
  padding: 10px;
}

@keyframes dropdown {
  50% {
    height: 78px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
  100% {
    height: auto;
    animation-play-state: paused;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.95);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 50px;
  padding: 10px;
}

.lds-ellipsis div {
  position: absolute;
  top: 25px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.platformTitle {
  text-align: center;
  margin-top: 25px;
}

.card-deck {
  margin-bottom: 25px;
}

.row {
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 1px 1px black;
  text-align: center;
  min-height: 350px;
}
.card:hover {
  box-shadow: 2px 2px black;
}
.card-body {
  background-color: lightgrey;
}
.card-img-top {
  min-height: 200px;
}
.card-game-link:hover {
  text-decoration: none;
}

.pagination {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.page, .page-numbers, .next-page-numbers {
  padding-left: 5px;
}

.logo__images {
  background-image: url("../../gamer-revolution-theme/images/game_img_backgr.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 175px;
}

.ps5, .ps4 {
  background-color: lightblue;
}

.xone {
  background-color: lightgreen;
}

.xseries {
  background-color: green;
}

.pc {
  background-color: black;
}

.switch {
  background-color: red;
}

.row {
  margin-left: 15px;
  padding: 50px;
}

.logo {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}
.logo__inner {
  border: 1px solid;
  height: auto;
}
.logo__inner--img {
  width: 100%;
  height: auto;
  padding: 25px 50px;
}
.logo__inner--img:hover {
  outline: 1px solid white;
}

.content {
  border: 1px solid;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.contentTitle {
  text-align: center;
  font-size: 24px;
  color: white;
  padding-top: 25px;
  font-size: 32px;
}

/*# sourceMappingURL=style.css.map */
