// RESET

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "base/_typography";
@import "components/_menu";
@import "layout/_header";
@import "pages/_details";
@import "pages/_games";
@import "pages/_home";
@import "layout/media";