header {
    display: flex;
    justify-content: space-between;
    background-color:  black;
    align-content: center;
}

.nav__items>li {
  margin-left: 15px;
}

// Page title
.title {
    flex: 2;
    text-decoration: none;
    padding: 5px 0;

    &>a:hover {
      text-decoration: none;
    }
}

// Search field
.searchGame {
    margin-left: 15px;
    flex: 1;
    height: 10px;
    padding: 13px;
    margin-top: 14px;
    border-radius: 5px;
}

// Search Results
.searchResults {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 0;
    height: 0px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    margin-bottom: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &__head>tr>td {
        padding-right: 50px;
        border: none;
        overflow: hidden;
    }
}

.searchResultsDropDown { 
    animation: dropdown 3s ease;
    animation-fill-mode: forwards;
    animation-play-state: running;
    padding: 10px;
}

@keyframes dropdown {
    50% {
        height: 78px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    100% {
        height: auto;
        animation-play-state: paused;
        z-index: 99;
        background-color: rgba(0,0,0,0.95);
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
}

// loading results
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 50px;
    padding: 10px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 25px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
 
/* Highlight using link element */
li.current_menu_item a{
    color: yellow;
}

