header {
    display: flex;
    justify-content: space-between;
    background-color:  black;
}

.title {
    flex: 2;
}

.nav{
   
    &__items {
        display: flex;
        list-style-type: none;
        padding-right: 25px;
        align-items: center;
        margin-top: 10px;
       
        &--link {
            text-decoration: none;
            padding-left: 50px;
        }
    }
}

.searchGame {
    margin-left: 15px;
    flex: 1;
    height: 10px;
    padding: 13px;
    margin-top: 10px;
    border-radius: 5px;
}

.searchResults {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    margin-bottom: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;

    &::-webkit-scrollbar {
        display: none;
    }

    &__head>tr>td {
        padding-right: 50px;
        border: none;
        overflow: hidden;
    }
}

.searchResultsDropDown { 
    animation: dropdown 3s ease-out;
}

@keyframes dropdown {
    to {
        height: 200px;
    }
}