// Page navigation menu
.nav{
   
    &__items {
        display: flex;
        list-style-type: none;
        padding-right: 25px;
        align-items: center;
        margin-top: 10px;
        font-family: "EvilEmpire";
        font-size: 22px;
    }
}