.gamePage {
    background-color: yellow;
}
// Game Page
.platformTitle {
    text-align: center;
    padding-top: 25px;
}

// Each Game

.card {
    box-shadow: 1px 1px black;
    text-align: center;
    min-height: 350px;

    &:hover {
        box-shadow: 2px 2px black;
    }

    &-body {
        background-color: lightgrey;
    }

    &-img-top {
        min-height: 200px;
        max-height: 210px;
    }

    &-game-link:hover {
        text-decoration: none;
    }
}

// Pagination
.pagination {
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    padding-bottom: 15px;
    font-size: 18px;

}

.page, .page-numbers, .next-page-numbers {
    padding-left: 5px;
    padding-top: 10px;
}